<div class="container">

  <section class="hidden">
    <h2>About me</h2>
    <p>Hi, I'm Miguel, a web developer based in Lisbon, Portugal. I specialize in Angular, Java, HTML, CSS, and Typescript, and I'm passionate about creating beautiful and functional websites.</p>
    <p>In my free time, you can find me exploring new technologies and attending tech meetups.</p>
    <p>Check my Projects!</p>
  </section>

  <section class="hidden">
    <h2>Skills</h2>
    <ul>
      <li>Angular</li>
      <li>Java</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
    </ul>
  </section>

  <section class="hidden">
    <h2>Contact me</h2>
    <p>Want to collaborate on a project? Feel free to contact me through email.</p>
    <ul>
      <li><a href="mailto:miguelmartins16.6@gmail.com">miguelmartins16.6@gmail.com</a></li>
    </ul>
  </section>
</div>
